#review-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 50px 100px;
    height: auto;
    background-color: var(--bg-color);
    scroll-margin-top: 100px;
}

#review-title {
    position: relative;
    text-align: center;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 2rem;
}

#review-title::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50px;
    width: 80px;
    height: 7px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    transform: translateX(-50%);
}

#review-text {
    color: var(--info-color);
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
}

#reviews {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 90%;
    gap: 100px;
}

.user-info {
    display: flex;
}

.user-info img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.job-desc {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    font-weight: bold;
}

.job-desc span {
    margin-bottom: 5px;
}


.job-title {
    font-size: 0.8rem;
    color: #686868;
}

.customer-review {
    position: relative;
    margin-top: 10px;
    background-color: var(--primary-color);
    color: white;
    padding: 10px;

}

.review {
    position: relative;
}

.review .left-triangle {
    position: absolute;
    bottom: -25px;
    left: 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: linear-gradient(225deg,
            #90aee4 50%,
            var(--bg-color) 50%);

}

.review .right-triangle {
    position: absolute;
    bottom: -25px;
    right: 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: linear-gradient(135deg,
            #90aee4 50%,
            var(--bg-color) 50%);

}

@media (max-width: 576px) {
    #review-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 75px 0px;
        margin: 0 auto;
    }

    #review-text {
        font-size: 1.5rem;
        width: 90%;
    }

    #reviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        width: 90%;
        font-size: 1.5rem;
    }

}