#info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: var(--bg-color);
    height: 150px;
    scroll-margin-top: 100px;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: white;
    padding: 20px;
    width: 150px;
    border-radius: 5px;
}

.info-number {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 800;
}

.info-text {
    font-weight: bold;
}

@media (max-width: 576px) {
    #info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    .info-item {
        width: 80%;
        height: 200px;
        font-size: 3rem;
    }

    .info-number {
        font-size: 3rem;
    }
}