* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    height: 100vh;
    background-color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle-area {
    width: 70%;
    height: 70%;
    background-color: gray;
    color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#joke {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

button {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: purple;
    color: white;
    border: none;
    transition: transform 0.3s ease;
}

button:hover {
    transform: scale(1.5);
}

h1 {
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}