#contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    margin-top: 50px;
    scroll-margin-top: 150px;
}

#contact-title {
    position: relative;
    text-align: center;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 2rem;
}

#contact-title::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50px;
    width: 80px;
    height: 7px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    transform: translateX(-50%);
}

.contact {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    font-weight: bold;
    font-size: 1.1rem;
}

#contact-info {
    width: 60%;
}

#container h3 {
    margin-top: 20px;
    font-size: 1.5rem;
}

#contact-text {
    color: var(--info-color);
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
    color: var(--info-color);
    width: 90%;
    margin-top: 50px;
}

#left-side {
    position: relative;
    width: 100%;
    height: 100%;

}

#container form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#container input,
textarea {
    padding: 10px;
    background-color: var(--bg-color);
    border: 0;
    width: 100%;
    outline: none;
    font-weight: bold;
}

#container textarea {
    resize: none;
    height: 100px;
}

#map-area {
    position: relative;
    width: 100%;
    height: 100%;
}

#map-area iframe {
    width: 100%;
    height: 320px;
}

@media (max-width: 576px) {
    #contact-container {
        width: 100%;
        overflow-x: hidden;
        padding: 30px 0px;
        font-size: 1.5rem;
    }

    #container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        margin-top: 60px;
        width: 100%;
        height: auto;
        text-align: center;
        padding: 0 20px;
    }

    .contact {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
    }

    #left-side {
        width: 90%;
    }

    #left-side h3 {
        text-align: start;
        margin-top: 30px;
    }

    #map-area {
        width: 100%;
    }

    #map-area iframe {
        width: 95%;
        height: 400px;
    }
}