#hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#hero-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

#hero-content {
    position: absolute;
    top: 30%;
    width: 70%;
}

#hero-sup-title {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
}

#hero-title {
    color: white;
    margin-top: 10px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
}

#hero-text {
    color: white;
    margin-bottom: 20px;
}

#sign-up-button {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
}

#details-button {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 10px;
    border: 1px solid white;
}

@media (max-width: 576px) {
    #hero {
        width: 100%;
        height: 700px;
    }

    #hero-container {
        height: 100%;
    }

    #hero-content {
        width: 90%;
    }

    #hero-sup-title {
        font-weight: bold;
    }

    #hero-title {
        display: block;
        font-size: 3rem;
    }

    #hero-img {
        width: 100%;
        height: 150%;
        object-fit: cover;
    }

    #hero-text {
        background-color: black;
        opacity: 0.8;
        padding: 10px;
        font-size: 1.5rem;
        font-weight: bold;
        width: 100%;
    }

    #hero-buttons a {
        display: block;
        margin-top: 10px;
    }
}