#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#dice-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

#button {
  width: 250px;
  height: 40px;
  background-color: #00CB96;
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}