* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    background-color: #31363E;
    width: 100%;
    height: 100vh;
    font-family: "Bitcount Prop Single", system-ui;
    font-size: 30px;
}