#our-best-trainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: auto;
    background-color: var(--bg-color);
    scroll-margin-top: 100px;
}

#our-best-trainers-title {
    padding-top: 50px;
    position: relative;
    text-align: center;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 2rem;
}

#our-best-trainers-title::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100px;
    width: 80px;
    height: 7px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    transform: translateX(-50%);
}

#our-best-trainers-text {
    color: var(--info-color);
    font-weight: bold;
    margin-top: 3rem;
    text-align: center;
    width: 50%;
}


#trainers {
    width: 80%;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.trainer {
    position: relative;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

.trainer img {
    display: block;
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.trainer span {
    position: absolute;
    background: var(--primary-color);
}

.trainer span.top {
    top: -8px;
    left: 50%;
    width: 40px;
    height: 5px;
    transform: translateX(-50%);
}

.trainer span.bottom {
    bottom: -8px;
    left: 50%;
    width: 40px;
    height: 5px;
    transform: translateX(-50%);
}

.trainer span.left {
    top: 50%;
    left: -8px;
    width: 5px;
    height: 60px;
    transform: translateY(-50%);
}

.trainer span.right {
    top: 50%;
    right: -8px;
    width: 5px;
    height: 60px;
    transform: translateY(-50%);
}

.line {
    opacity: 0;
    border-radius: 5px;
    transition: opacity .3s ease, transform .3s ease;
}

.trainer-hover {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    background: var(--primary-color);
    width: 90%;
    padding: 20px 0;
    text-align: center;
    color: white;
    border-radius: 6px;
    opacity: 0;
    pointer-events: none;
    transition:
        transform .5s ease,
        opacity .25s ease;
}

.trainer:hover .trainer-hover {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.trainer:hover .top,
.trainer:hover .right,
.trainer:hover .bottom,
.trainer:hover .left {
    opacity: 1;
}

@media (max-width: 576px) {
    #our-best-trainers {
        font-size: 1.5rem;
        width: 100%;
    }

    #our-best-trainers-text {
        width: 90%;
        text-align: center;
    }

    #trainers {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
        gap: 30px;
    }
}