/* Genel Ayarlar */
body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Başlık ve Menü */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* Blog Kartları */
.posts {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

article {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

article h2 a {
    color: #333;
    text-decoration: none;
}

article h2 a:hover {
    text-decoration: underline;
}

article p {
    color: #666;
}

/* Footer */
footer {
     position: fixed;
 bottom: 0px;
 left: 0px;
 width: 100%;
 height: 50px;
 padding:15px;
 background-color: #000;
 color:khaki;
 text-align: center;
    
}
