#footer {
    height: auto;
    background-color: var(--primary-color);
    color: white;
}

#footer-container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
}

#footer-links {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer-links h4 {
    font-size: 1.2rem;
    margin: 10px;
}

#footer-links ul li {
    list-style-type: none;
    margin: 10px;
}

#footer-links ul li a {
    text-decoration: none;
    color: white;
    text-align: center;
}

/*Footer End*/